* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right,#93221F,#2D0A09);
    color: #333;
}

.container {
    margin: 0 15px;
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none;
}

.form-box.active {
    display: block;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    background: #e4dada;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: #93221F;
    border-radius: 6px;
    border: none;
    cursor: none;
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover {
    background: #e4dada;
    color: #000000;
}

p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

p a {
    color: #7494ec;
    text-decoration: none;
}

.error-message {
    padding: 12px;
    background: #fff;
    border-radius: 6px;
    font-size: 16px;
    color: #135fb6;
    text-align: center;
    margin-bottom: 20px;
}